.button{
    display: block;
    margin-top:15px;
    padding:7px;
    border:none;
    width:100px;
    outline:2px solid red;
    background-color: white;
    color:red;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease-out;
}
.button:hover{
    background-color: red;
    color:white;
}